<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style style="text/css">
            .my-custom-scrollbar {
                position: relative;
                height: 300px;
                overflow: auto;
            }
            .table-wrapper-scroll-y {
                display: block;
            }
            .hoverTable tr:hover {
                background-color: #b8d1f3;
            }
            .hoverTable thead:hover{
                background-color: white;
            }
            .hoverHeader tr:hover{
                 background-color: white;
            }
        </style>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Order Book Manager</title>
    </head>
    <body>
        <div class="container">
            <div class="row m-4">
                <div class="col text-center">
                    <h1>Order Book</h1>
                </div>
            </div>
            <div class="row m-4" th:if="${not #lists.isEmpty(stocks)}">
                <div th:each="stock:${stocks}">
                     <div class="col text-center m-3 border-dark" >
                         <a href="#" th:href="@{/orderbook(symb=${stock.symbol})}" class="btn btn-outline-primary btn-lg" th:utext="${stock.symbol} + '<br /> Orders Today: ' + ${stock.ordersToday}+ '<br /> Latest Match: ' + ${stock.latestMatch}"></a>
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(stocks)}"><a href="orderbook" class="btn btn-outline-primary btn-lg" >There are currently no stocks, click to add</a>
            </div>
        
        
        <div class="container">
            <div class="row m-4">
                <div class=" col text-center m-3">
                    <div class="col text-center">
                        <h2 th:text="${date} + ' Trades'"></h2>
                    </div>      
                </div>
            </div>
            <div class="row m-4">
                <form class="form-inline" action="getTrades" method="POST" th:action='@{/getTrades}'>
                    <div class="col text-center m-3">
                        <input type="date" name="date"  id="date" class="form-control"/>
                    </div>
                    <div class="col text-center m-3">
                        <select id="stock" name="stocks" class="form-control">
                            <option>All</option>
                            <option th:each='stock:${stocks}' th:text='${stock.symbol}' th:value='${stock.symbol}'> </option>
                            
                        </select>
                    </div>
                    <div class="col text-center m-3">
                        <button type="button" class="btn btn-primary">Get Trades</button> </div>
                </form>   </div>                
            <div class="form-group row table-wrapper-scroll-y my-custom-scrollbar ">
                <table class="table table-bordered hoverTable">
                    <thead class="hoverHeader"  >
                        <tr >
                            <th>Stock</th>
                            <th>Counter Party</th>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
<!--                        th:onclick="|window.location.href='/editLocation?id=${location.LocationId}'|"-->
                        <tr th:each='entry : ${tradeStockDataList}' th:onclick="|window.location.href='/tradedetails?id=${entry.key.id}'|">
                            <td th:text='${entry.getValue()}'></td>
                            <td th:text='LCH'></td>                            
                            <td th:text='${entry.key.size}'></td>
                            <td th:text='${entry.key.price}'></td>
                            <td th:text='${entry.key.time}'></td>
                        
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>